// Center text

%centered {
   text-align: center;
}

%align-self {
    align-self: center;
}


//Text decoration//

%textdecoration {
    text-decoration: none;
}


//Paragraphs//

%paragraphs {
     margin-left: 1em;
     margin-right: 1em;
}